<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
<!-- 환경 값 -->
<!-- DTO Alias -->
<!-- MyBatis환경 세팅 -->
<!-- Query문 연결 Mapper -->
<mappers>
	<mapper resource="/sqls/statment.xml"/>
</mappers>

</configuration>
